<div class="w-full h-full bg-primario flex" 
    [class.opacity-40]="this.mostrado$()">

    <app-lateral></app-lateral>


   <div class="flex flex-col w-full">

    @if (mostrado$()) { 
        <app-modal class="opacity-100" [class.opacity-100]="this.mostrado$()"></app-modal>
    }

    <div class="flex flex-col">
        <h1 class="text-black font-bold text-5xl mt-10 ml-7">
            {{infoNota()?.nombre}}
        </h1>
    </div>

    <div class="mt-8 ml-7">
        <textarea value={{texto()}} (input)="actualizarTexto($event)" placeholder="Escribe tu nota aqui" class="h-screen w-11/12 pt-2 pl-2 bg-primario"></textarea>
    </div>    


   </div>



</div>