<aside class="min-w-64 max-w-64 bg-secundario border-2 border-solid border-acento h-screen rounded-lg">

    <div id="paginasAparte" class="h-1/5">

    </div>

    <div class="w-full h-8 border-2 border-solid border-black rounded-lg flex justify-end items-center">
        <button (click)="mostrar()" class="text-white text-2xl mr-6">+</button> <!-- boton que abrira una ventana modal que pedira el titulo de la pagina-->
    </div>

    <div class="w-full">
        <!--hacer map al arreglo de paginas, -->
        @for(pagina of paginas(); track pagina.id){
            <a href="nota/{{pagina.id}}" class="border-2 border-solid border-slate-400 flex rounded-lg p-2 hover:bg-slate-600">
                <p class="text-white ml-3">{{pagina.nombre}}</p>
            </a>
        }   
    </div>

    
</aside>